.category-item {
  padding: 0 20px 15px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  overflow: auto;
}

h1 {
  width: 100%;
}
