.category {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.items {
  background-color: aquamarine;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  height: 80%;
}

.items > * {
  flex: auto;
  margin: 15px;
}

h1 {
  padding-bottom: 50px;
}
.left {
  width: 60%;
}

.right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}

.right > * {
  margin: 0 !important;
  flex: 0 1 45%;
}
